.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-page {
    margin-top: 20px;
}

.blc-matchsticks {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    justify-content: center;
    max-width: 100%;
    flex-wrap: wrap;
}

.blc-players {
    display: flex;
    align-items: center;
}

.blc-espacement {
    color: brown;
    width: 100px;
}

.blc-btNewGame {
    margin-top: 60px;
}